/*
Author: Desmon Neapollioun
Date: Current Date
File Name: styles.css
*/
/* CSS RESET */
body, header, nav, main, footer, img, h1, h2, h3, ul {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rules for body and images */
body {
    background-image: url("/webdev24/YourTurnProject/images/240_F_252875338_y1vdA6q91Hjk3lQJhFnTq5vld7E4QzIF.jpg");
    background-size: cover;
}

.tab-desk {
    display: none;
}

header {
    text-align: center;
    color: #A62C2B;
}

header h1 {
    font-size: 3em;
    padding-top: 2%;
    font-family: 'Cookie', cursive;
}

header h3 {
    font-style: italic;
    font-size: 1.25em;
    font-family: Futura, Arial, sans-serif;
    padding-bottom: 2%;
}

/* Style rules for navigation area */
nav {
    background-color: #000;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: block;
    font-size: 1.5em;
    font-family: Verdana, Arial, sans-serif;
    font-weight: bold;
    border-top: 5px solid #a80000;
}

nav li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 0.5em 1em;
    text-decoration: none;
}

/* Style rule for hero image */
#hero {
    clear: left;
}

/* Style rules for main content */
main {
    padding: 2%;
    background-color: #0d1023;
    overflow: auto;
    font-family: 'Noto Sans KR', sans-serif;
}

main h2 {
    color: #234b95;
}

main p {
    font-size: 1.25em;
}

main ul {
    list-style-type: square;
    margin: 10%;
}

.action {
    font-size: 1.25em;
    color: #373684;
    font-weight: bold;
}

.round {
    border-radius: 10px;
}

#pamper, #full, #basic {
    margin: 0 2%;
}

#contact {
    text-align: center;
}

#contact .email-link {
    color: #4645a8;
    text-decoration: none;
    font-weight: bold;
}

.tel-link {
    background-color: #234b95;
    padding: 2%;
    width: 80%;
    margin: 0 auto;
    line-height: 115%;
}

.tel-link a {
    color: #f6eee4;
    text-decoration: none;
    font-weight: bold;
}

.map {
    border: 6px solid #234b95;
    width: 95%;
    height: 50%;
}

/* Style rules for footer content */
footer {
    text-align: center;
    font-size: 0.85em;
    clear: left;
    color: #234b95;
    font-weight: bold;
}

footer a {
    color: #234b95;
    text-decoration: none;
}

/* CSS Reset
body, header, nav, main, footer, img, h1, h3, ul {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rules for body and images
body {
    background-color: #9cb6e8;
}

img {
    max-width: 100%;
    display: block;
}

/* Style rules for mobile viewport

/* Style rule to hide tab-desk class
.tab-desk {
    display: none;
}

/* Style rules for header content
header {
    text-align: center;
    color: #234b95;
}

header h1 {
    font-size: 3em;
    padding-top: 2%;
    font-family: 'Cookie', cursive;
}

header h3 {
    font-style: italic;
    font-size: 1.25em;
    font-family: Futura, Arial, sans-serif;
    padding-bottom: 2%;
}

/* Style rules for navigation area
nav {
    background-color: #234b95;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: block;
    font-size: 1.5em;
    font-family: Verdana, Arial, sans-serif;
    font-weight: bold;
    border-top: 1px solid #9cb6e8;
}

nav li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 0.5em 1em;
    text-decoration: none;
}

/* Style rule for hero image 
#hero {
    clear: left;
}

/* Style rules for main content 
main {
    padding: 2%;
    background-color: #e5e9fc;
    overflow: auto;
    font-family: 'Noto Sans KR', sans-serif;
}

main h2 {
    color: #234b95;
}

main p {
    font-size: 1.25em;
}

main ul {
    list-style-type: square;
    margin: 10%;
}

.action {
    font-size: 1.25em;
    color: #373684;
    font-weight: bold;
}

.round {
    border-radius: 10px;
}

#pamper, #full, #basic {
    margin: 0 2%;
}

#contact {
    text-align: center;
}

#contact .email-link {
    color: #4645a8;
    text-decoration: none;
    font-weight: bold;
}

.tel-link {
    background-color: #234b95;
    padding: 2%;
    width: 80%;
    margin: 0 auto;
    line-height: 115%;
}

.tel-link a {
    color: #f6eee4;
    text-decoration: none;
    font-weight: bold;
}

.map {
    border: 6px solid #234b95;
    width: 95%;
    height: 50%;
}

/* Style rules for footer content 
footer {
    text-align: center;
    font-size: 0.85em;
    clear: left;
    color: #234b95;
    font-weight: bold;
}

footer a {
    color: #234b95;
    text-decoration: none;
} */
